.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.ipynb_checkpoints/
*.ipynb_checkpoints
data/raw/*.csv
!data/forzen/market_data_snapshot.parquet
.DS_Store
Thumbs.db
*.swp
.streamlit/secrets.toml
